@charset "UTF-8";

:root {
 --bgColor: #413243;
}

* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

html, body {
    width: 98vw;
    height: 98vh;
    margin: 0;
    padding: 0;
}

body {
    background: var(--bgColor) url(../img/background.png) center center no-repeat fixed;
    background-size: cover;
}

body .blur {
  filter: blur(4px);
}

body .esconda{
    display: none;
}


body > section.penguin > a > img{
    width: 70px;
   }
   
   body > section.penguin{
    position: fixed;
    top: 88vh;
    left: 80vw;
}


body > section.penguin > p{
        display: none; 
        position: absolute;
        color: white;
        font-size: 20px;
        right: 100px;
}

header {
    display: flex;
    flex-direction: row;
}

header > h1.nome {
    font-size: 21px;
    color: white;
    text-decoration: underline;
}

header > nav > button {
    border: none;
    background-color: transparent;
    margin-top: 6.5px;
    margin-right: 6px;
}

header > nav > ul > button > img {
    width: 20px;
}

header > nav > ul {
    background-color: black;
    display: none;
    position: absolute;
    z-index: 2;
}


header > nav > ul > li > a{
 color: white;
 text-decoration: none;
 font-size: 20px;
}



 section.lamp {

    position: absolute;
    top: 40px;
   display: flex;
}

 section > article {
    display: none;
}

 section > article > span {
   display: flex;
   flex-direction: row-reverse; 
}

 section > article > span > p {
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: 18px;
    color: white;
    font-size: 20px;
}

 section > button, section > article > span > button {
    border: none;
    background-color: transparent;
}


 section > button > img.lamp{
    margin: 15px 15px 30px 15px;
}

 section > img.titulo {
    display: block;
    margin:  100px auto 20px auto;
    width: 300px;
}

 section > button.btnProjeto{
    display: block;
    margin: auto;
}

 section > button.btnProjeto > ul {
    width: 150px;
    height: 150px;
    margin: auto;
}

 section > button.btnProjeto > ul.menuProjetos > li{
    border-top: white 4px solid;
    text-align: center;
    color: white;
    background-color: black;
    width: 158px;
    padding: 10px 0px;
    font-weight: bold;
}

 section  > ul.menuProjeto {
    display: none;
    position: fixed;
    top: 0px;
    z-index: 4;
    color: white;
}

 section > ul > article.container {
    border: white 1px solid;
    display: flex;
    width: 99vw;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(48, 48, 48);

}

 section > ul > article.sectionIframe {
    display: flex;
    width: 100vw;
    height: 53vh;
}

 section > ul > article.sectionIframe > iframe {
    display: flex;
    width: 100vw;
}

 section  > ul.menuProjeto > article > li > a{
    color: white;
    text-decoration: none;  
    padding: 10px;
}

 section > ul > li > button {
    display: block;
    background-color: black;
    border-radius: 50px;
    border: none;
    box-shadow:  6px 6px 16px rgb(13, 13, 13, 0.616);
    margin: 20px auto;
}
 section  > ul.menuProjeto > article > li {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border: white 1px solid;
    background-image: linear-gradient(to bottom, #2FA765, #186C3D, #063D1E);
    font-size: 25px;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow:  6px 6px 16px rgb(13, 13, 13, 0.616);
}

 section > button.btnProjeto > ul {
    margin-bottom: 60px;
}

 section > button.btnProjeto > ul > img.projetos {
    border-left: white 4px solid;
    border-right: white 4px solid;
    border-top: white 4px solid;
    background-color: black;
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
}

